*{
    margin: 0;padding:0;
    box-sizing: border-box;
}
body{
    background-color: #B3BED2;
    background-size: cover;
    background-position: center;
}
header{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    background: transparent;
}
header .container{
    height: 10vh;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}
.logo{
    display: flex;
    gap: 14px; 
    align-items: center;
}
.logo img{
    height: 60px;
    width: 80px;
}
.logo p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 550;
    cursor: default;
}
a{
    text-decoration: none;
    color: white;
}
ul{
    display: flex;
    gap: 14px;
    list-style: none;
}
li{
    font-size: 20px;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
}
.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90vh;
    flex-wrap: wrap;
    
}

.card{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 300px;
    margin: 20px;
    padding: 20px;
    filter: drop-shadow(20px 20px 40px rgba(0, 0, 0, 0.504));
    background-color: rgba(0, 0, 0, 0.152);
    align-items: flex-start;
    justify-content: center;
    border-radius: 5px;
}
.todo{
    position: relative;
    margin: 15px;
}
.todo h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.todo_value{
    height: 32px;
    border-radius: 8px;
    opacity: 70%;
    
}